- content_tag_for(:div, section, :class => 'bubble', :level => section.level) do
  - content_tag(:div, :id => "control_#{section.id}", :class => 'control') do
    = favorite_link(section, nil, :class => 'favorite')
    = favorite_link(section, nil, :class => 'new_favorite')
    - unless section.root?
      = favorite_link(section, nil, :class => 'edit')
      = favorite_link(section, nil, :class => 'delete')
  
  = link_to section.name.capitalize, section
