- form_for([@user, section]) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :children_of
    %br
    = f.select :children_of, nested_set_options_for_select(current_user.sections, { :exclude => section })
  %p
    = f.submit "Submit"
