- form_for([@user, @section]) do |f|
  = f.error_messages
  %p
    = f.label :name
    %br
    = f.text_field :name
  %p
    = f.label :children_of
    %br
    = f.select :children_of, @user.sections.delete_if { |o| o.id == @section.id }.collect { |a| [a.name, a.id] }
  %p
    = f.submit "Submit"
