- content_tag_for(:div, section, :class => 'bubble') do
  - content_tag(:div, :level => section.level, :id => "ctrl_#{section.id}", :class => 'control') do
    = favorite_link(section, nil, :class => 'favorite')
    - unless section.root?
      = favorite_link(section, nil, :class => 'edit')
      = favorite_link(section, nil, :class => 'delete')
      
  %span
  = section.name.capitalize
