%h2
  = nested_set_full_outline(@section, :controller => 'sections')
  - unless @section.root?
    %small= "(#{link_to 'Edit', edit_section_path(@section)})"
%p= link_to 'Add Favorite', new_section_favorite_path(@section)
- content_tag_for :div, @section do
  %ul
    %li
      %strong Name:
      =h @section.name
  %h4 Favorites
  = render :partial => 'favorites/favorite', :collection => @section.favorites
