- content_for(:head) do
  = javascript_include_tag :in_place_editing, 'jbreadcrumb/jbreadcrumb', 'jbreadcrumb/easing'
  = stylesheet_link_tag 'jbreadcrumb/base', 'jbreadcrumb/breadcrumb'

= nested_set_breadcrumb(@section, :controller => 'sections')

- javascript_tag do
  $("#breadCrumb").jBreadCrumb({easing:'swing'});

%p= link_to 'Add Favorite', new_section_favorite_path(@section)
- unless @section.favorites.blank?
  - content_tag_for :div, @section do
    %h4 Favorites
    = render :partial => 'favorites/favorite', :collection => @section.favorites
